In [93]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [94]:
player_info = purchase_data.loc[:, ['SN', 'Age', 'Gender']]
player_info.head()

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

In [95]:
# Display total number of players
player_Count = len(purchase_data['SN'].unique())
player_Count_display = pd.DataFrame({'Player_Count': ['Player_Count']})
#player_Count_display
player_Count

#The only way I find to have the correct format is to display
#Player_Count_display but I can't get it to count the rows.  It 
#only shows me Player_Count, instead of the number I want.

576

In [96]:
# Number of Unique Items
unique_items = purchase_data.groupby('Item Name')['Item Name'].unique()
unique_items.count()

179

In [97]:
# Average price of items purchased 
average_price = purchase_data['Price'].mean()
average_price

3.050987179487176

In [98]:
# Number of purchases
number_of_purchases = len(purchase_data)
number_of_purchases

780

In [139]:
# Total revenue
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [140]:
# Summary Data Frame to hold results
summary_data_frame = pd.DataFrame(
    {'Number of Unique Items': [unique_items.count()], 
    'Average Price': [average_price],
    'Number of Purchases': [number_of_purchases],
    'Total Revenue': [total_revenue]})
summary_data_frame

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [141]:
# Gender Demographics
gender_demographics = purchase_data.groupby('Gender')['SN'].nunique()
gender_demographics

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [152]:
# Percentage and count of Male Players
gender_percentage = gender_demographics / player_Count
gender_percent.round(4) * 100

# Create a Data Frame for display
gender_df = pd.DataFrame({'Total Count': gender_demographics,
                          'Percentage of Players': gender_percentage * 100})
gender_df

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

In [154]:
# Purchase Count by Gender
gender_purchase_count = purchase_data.groupby('Gender')['Item Name']
gender_purchase_count.count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [163]:
# Average Purchase Price by Gender
gender_purchase_average =  purchase_data.groupby('Gender')['Price'].mean()
gender_purchase_average.round(2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [164]:
# Total purchase value by Gender
gender_purchase_total =  purchase_data.groupby('Gender')['Price'].sum()
gender_purchase_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [170]:
# Avg Total purchase per person by Gender
per_person_purchase = gender_purchase_total / gender_demographics
per_person_purchase.round(2)

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [179]:
# Purchasing Analysis Dataframe by Gender
purchasing_analysis_gender_df = pd.DataFrame({'Purchase Count': gender_purchase_count.count(),
                                 "Average Purchase Price": gender_purchase_average.round(2),
                                 'Total Purchase Value': gender_purchase_total,
                                 'Avg Total Purchase per Person': per_person_purchase.round(2)})
purchasing_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [181]:
# Age Demographics
age_bins = [0,10,15,20,25,30,35,40,500]
age_groups = ['<10','10-14','15-19','20-24','25-29','30-34','35-40','40+']

# Use pd.cut to group purchase data into the appropriate age ranges
sorted_age_data = pd.cut(purchase_data['Age'], age_bins, labels = age_groups)
sorted_age_data.head()

0    15-19
1    35-40
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-40 < 40+]

In [206]:
# Numbers and percentages by age group
percentage_by_age = round(purchase_data['Age Range'].value_counts() / player_Count,4) * 100
count_by_age = purchase_data.groupby('Age Range')['Item Name']
count_by_age.count()

age_group_df = pd.DataFrame({'Total Count': count_by_age.count(),
                            'Percentage of Players': percentage_by_age})
age_group_df

       Total Count  Percentage of Players
10-14           54                   9.38
15-19          200                  34.72
20-24          325                  56.42
25-29           77                  13.37
30-34           52                   9.03
35-40           33                   5.73
40+              7                   1.22
<10             32                   5.56

In [212]:
# Purchase Analysis - Age
count_by_age.count()

age_average_per_perchase = purchase_data.groupby('Age Range')['Price'].mean()
age_average_per_perchase.round(2)

age_total_purchase =  purchase_data.groupby('Age Range')['Price'].sum()
age_total_purchase

Age Range
<10      108.96
10-14    156.60
15-19    621.56
20-24    981.64
25-29    221.42
30-34    155.71
35-40    112.35
40+       21.53
Name: Price, dtype: float64

In [230]:
# Creating DataFrame for Purchasing Analysis (Age)
purchasing_analysis_age_df = pd.DataFrame({'Purchase Count': count_by_age.count(),
                                          'Average Purchase Price': age_average_per_perchase.round(2),
                                          'Total Purchase Value': age_total_purchase})
purchasing_analysis_age_df.head()

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Range
<10                    32                    3.40                108.96
10-14                  54                    2.90                156.60
15-19                 200                    3.11                621.56
20-24                 325                    3.02                981.64
25-29                  77                    2.88                221.42

In [239]:
# Top Spenders
purchase_count_players = purchase_data.groupby('SN').count()['Price']
player_avg_purchase_price = purchase_data.groupby('SN').mean()['Price']
purchase_value_player = purchase_data.groupby('SN').sum()['Price']

# Create a top spender DataFrame
top_spender_df = pd.DataFrame({'Purchase Count': purchase_count_players, 
                              'Average Purchase Price': player_avg_purchase_price,
                              'Total Purchase Value': purchase_value_player,})
top_spender_df.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

In [240]:
# Realize I need to create a separate cell w/ a new DataFrame 
# to sort by total purchase value
disposable_income_df = top_spender_df.sort_values("Total Purchase Value",
                                                  ascending = False)
disposable_income_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [259]:
# Most Popular Items

item_purchase_count = purchase_data.groupby(['Item ID', 'Item Name']).count()['Price']
item_price = purchase_data.groupby(['Item ID', 'Item Name']).mean()['Price']
item_total_purchase_value = purchase_data.groupby(['Item ID', 'Item Name']).sum()['Price']

# Create a DataFrame to group Items
items_df = pd.DataFrame({'Purchase Count': item_purchase_count,
                        'Item Price': item_price,
                        'Total Purchase Value': item_total_purchase_value})
items_df.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

In [262]:
# Create another cell to correctly order the items
# I'm sure there's a much better way to do this, but I can't find it
ordered_items_df = items_df.sort_values('Purchase Count', ascending = False)
ordered_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [265]:
# Creating a DataFrame for the most profitable items
reordered_items_df = items_df.sort_values('Total Purchase Value', ascending = False)
reordered_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

In [ ]:
# Observations

# The player base for Heroes does not shy away from 
#spending money on more expensive items, 
#often times the opposite.  
#More expensive items sell better than less expensive ones.

# Oathbreaker is far and away the best selling item.  
# From a marketing perspective, it would be smart to 
# try to create another item(s) that attempted to capture the 
#'magic' that Oathbreak, Last Hope was able to capture.

# There is not an immediately noticable difference in
# spending patterns depending on age group.